div>p {
    color: red;
    padding-left: 15px;
}
div>div {
    padding-left: 15px;
}
div>div>p {
    /* todos los hijos inmediatos */
    color: blue;
    padding-left: 15px;
}

p.test ~ p {
    /* todos los siguientes */
    color: orangered;
}

div + div {
    border: 2px solid yellow;
    margin-top: 5px;
    min-height: 10px;
}
p.test + p {
    /* solo el 1ro siguiente */
    color: crimson;
}