html {
    /* background-image: url(../img/perro.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    background-attachment: fixed;
    text-align: justify;
    background-position: center center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    max-width: 900px;
    margin: auto;
}
p {
    /* color: #FFF; */
}
.resaltado {
    background-color: gray;
    padding: 30px 10px;
    color: #fff;
    text-align: center;
}
h1 {
    color: blueviolet;
}
h2 {
    color: crimson;
}
img {
    max-width: 100%;
}
ul {
    font-weight: bold;
}
ol {
    font-style: italic;
}
.mayuscula {
    text-transform: uppercase;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-right {
    text-align: right;
}
.italica {
    font-style: italic;
}